<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandos da Lilly</title>
    <link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="public/styles/animations.css">
    <link rel="stylesheet" href="public/styles/commands.css">
    <link rel="stylesheet" href="public/styles/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <a href="/" id="logo">Lilly</a>
        <i class="fa fa-bars nav_open_button"></i>
        <nav>
            <a class="navigation" href="/"><i class="fa fa-home"></i> Home</a>
            <a class="navigation" href="commands.html" rel="internal">&lt;&gt; Comandos</a>
            <a class="navigation" rel="external follow" target="_blank" href="https://discord.gg/SceHNfZ"><i class="fa fa-support"></i> Suporte</a>
            <a class="navigation" href="https://discord.com/api/oauth2/authorize?client_id=754548334328283137&permissions=8&scope=bot" rel="external nofollow" target="_blank"><i class="fa fa-plus"></i> Me Adicione!</a>
        </nav>
    </header>

    <div class="commands">
        <h1>Veja alguns dos comandos da Lilly</h1>
        <span class="total_commands">
            <span>1</span> Comandos Disponíveis
        </span>
        <div class="command_card">
            <h2 class="command_name">Say</h2>
            <p class="command_desc">Comando usado para mandar a Lilly dizer algo</p>
            <span class="user_permissions"><strong>Permissões do Usuário: </strong><em>Gerenciar Mensagens ou Administrador</em></span>
            <span class="lilly_permissions"><strong>Permissões da Lilly: </strong><em>Ler e Enviar Mensagens</em></span>
            <span class="usage"><strong>Como usar: </strong><em>$say &lt;mensagem&gt;</em></span>
            <span class="aliases"><strong>Atalhos: </strong><em>$dizer, $fale, $repita</em></span>
        </div>
    </div>


    <script src="public/scripts/nav_control.js"></script>
</body>