<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="sDN0IaiHaK4Hbaqw3xIIj8K4Agraklgtzvrri7kaNd0" />
    <title>Lilly, um bot simples mas poderoso para o Discord</title>
    <meta name="description" content="Venha conhecer um dos melhores e mais completos bots do Discord, que vai trazer muita mais alegria, diversão e controle do seu servidor, e o melhor, de graça!">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/apple-lilly-icon.png">

    <link rel="stylesheet" href="/styles/animations.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
</head>
<body>
    <header class="">
        <a href="/" id="logo">Lilly</a>
        <i class="fa fa-bars nav_open_button"></i>
        <nav>
            <a class="navigation" href="/"><i class="fa fa-home"></i> Home</a>
            <a class="navigation" href="/commands" rel="internal">&lt;&gt; Comandos</a>
            <a class="navigation" rel="external follow" target="_blank" href="https://discord.gg/SceHNfZ"><i class="fa fa-support"></i> Suporte</a>
            <a class="navigation" href="https://discord.com/api/oauth2/authorize?client_id=754548334328283137&permissions=8&scope=bot" rel="external nofollow" target="_blank"><i class="fa fa-plus"></i> Me Adicione!</a>
        </nav>
    </header>
    <section id="header">
        <img src="/assets/avatar-lilly.jpg" alt="Foto Lilly">
        <h1>Olá, eu sou a Lilly e estou ansiosa para fazer parte do seu servidor do Discord!!</h1>
        <div id="header_buttons">
            <a href="https://discord.com/api/oauth2/authorize?client_id=754548334328283137&permissions=8&scope=bot" target="_blank" rel="external nofollow"><button><i class="fa fa-plus"></i> Me Adicione</button></a>

            <a href="https://discord.gg/SceHNfZ" target="_blank" rel="external nofollow"><button style="background-color: #6274b8;"><i class="fa fa-support"></i> Suporte</button></a>

            <a href="/commands" rel="internal"><button style="background-color: #05c063;">&lt;&gt; Meus Comandos</button></a>
        </div>
    </section>

    <main class="page_content">
        <section class="section_content">
            <h2 class="title_left">Quem é a Lilly?</h2>
            <p>Lilly é apenas um simples bot para Discord criada com o objetivo de ajudar servidores a se tornar um lugar muito melhor para todos.</p>
            <br>
            <p>Quer adicionar comandos úteis ao seu servidor? Quer ter mais opções de moderação em seu servidor? Quer apenas mais diversão no seu servidor? Então a Lilly é a menina certa para ser adicionada ao seu servidor! A Lilly inclui tudo isso e <strong>muita mais funcionalidades legais!</strong></p>
        </section>
        <section class="section_content">
            <h2>Deixe seu servidor turbinado!</h2>
            <p>Com a Lilly seu servidor do Discord vira outro. Com ela funções chatas como punir um usuário ou verificar a quantidade de membros em um servidor ficam <strong>muito mais fáceis</strong> com simples comandos que <strong>qualquer um pode entender facilmente</strong>.</p>
            <br>
        </section>
        <section class="section_content">
            <h2>Transforme seu servidor em um lugar mais divertido!</h2>
            <p>A Lilly traz ao seu servidor que <strong>ajudam e divertem a todos do servidor</strong>. Ela tem comandos para todos: <strong>moderadores, administradores, usuários comuns, e todos os outros membros que tenha em seu servidor!!</strong></p>
        </section>
        <section class="section_content">
            <h2>Mas afinal, quais são os comandos da Lilly?</h2>
            <p>A Lilly está em <em>Beta Test</em>, ou seja, ainda virá muita coisa nova pela frente, mas eu já sei o que eu quero nela e muitas das coisas que falarei aqui serão adicionadas e/ou já estão em desenvolvimento.</p>
            <br>
            <p>Ela é um bot de com vários propósitos, então existem comandos de vários tipos com de <strong>moderação, economia, administração, utilidades, boas-vindas e mais!!</strong> E o melhor, todos os comandos estão <strong>com suas permissões corretas, ou seja, só membros autorizados podem executar determinadas funções!!</strong>. <a href="/commands">Veja a lista completa de comandos!</a></p>
        </section>
    </main>

    <footer>
        <div class="footer_section">
            <h3>Condições e Termos de Uso</h3>
            <a href="#">Termos de Uso da Comunidade</a><br>
            <a href="#">Políticas de Privacidade</a>
        </div>

        <div class="social_networks">
            <a href="https://github.com/pedrohenriquebraga" target="_blank" rel="external nofollow"><img src="/assets/github-icon.png" alt="Acesse meu Github"></a>

            <a href="https://youtube.com/gamesantos" target="_blank" rel="external nofollow"><img src="/assets/youtube-icon.png" alt="Acesse meu canal do YouTube"></a>

            <a href="https://www.instagram.com/pedro_henriquebraga/" target="_blank" rel="external nofollow"><img src="/assets/insta-icon.webp" alt="Acesse meu Instagram"></a>
            <p>&copy; Todos os direitos reservados ao GameSantosBr e seus associados. Copyright 2020</p>
        </div>
        
    </footer>
    <script src="/scripts/nav_control.js"></script>
</body>
</html>
