@media (max-width: 800px) {
    html {
        font-size: 50%;
    }

    #header #header_buttons {
        display: flex;
        flex-direction: column;
    }

    #header #header_buttons button {
        width: 30.0rem;
        height: 45px;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 48%;
    }

    header nav {
        display: none;
    } 

    header .nav_open_button {
        display: block;
    }

    header.nav nav {
        display: flex;
        z-index: -1;
        background-color: #576cb8;
        padding: 5.0rem;
        position: absolute;
        width: 100%;
        height: max-content;
        top: 100%;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    header.nav .navigation {
        width: 100%;
        background-color: #485894;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
    }
}
 
